
.contenedor-1{
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 60px;
}

.contenedor-2{
    display: flex;
    justify-content: end;
    align-items: end;
    height: 60px;
}

.img-footer{
    height: 40%;
    width: 12%;
    margin-top: 30px;
    margin-left: 6%;

}

